* {
  text-align: center;
}

#botaoCarregar {
  background-color: yellow;
  cursor: pointer;
}

#BSort {
  background-color: yellow;
  cursor: pointer;
}

#BShuffle {
  background-color: yellow;
  cursor: pointer;
}

table {
  border-collapse: separate;
  width: 100%;
  border: 1px solid black;
}

th,
td {
  background-color: gray;
  text-align: center;
  padding: 8px;
}
