p.verso {
  color: blue;
}

p.mote {
  color: red;
}

a {
  color: blue;
  text-decoration: none;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.joao:hover {
  background-color: blue;
  color: white;
}

.poeta img {
  margin: 2em;
  width: 20%;
  border-radius: 100%;
}

.poeta {
  display: flex;
  align-items: center;
}

td {
  background-color: grey;
}
